html {
    background-color: #000;
    color: #fff;
}

body {
    font-family: sans-serif;
    text-align: center;
}

#table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: auto;
}

.case {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    height: 100px;
    line-height: 100px;
    font-size: 60px;
}

#statut {
    margin: 20px;
    font-size: 1.5rem;
}

#statut > b {
    color: #FFFF00;
}

#restart {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
}
